* {
    margin:0px;
    padding:0px;
}
.wrapper {

    border: 3px solid #f5f5f5;
}


/*MobileNav*/

.header{
    display: block;
}


img.nav_logo {
    display:none;
}



.nav-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-bar {
    display: block;
    width: 26px;
    height: 3px;
    background-color: #747474;
    margin: 6px;
    border-radius: 15%;
}


ul.navbar {
    display:none;
}


ul.navbar.active{
    display: block;

}

li.navLi {
    width:100%;
    border-bottom: 2px solid #a7a7a7;
    border-right: none;
    padding: 2%;
    font-size: 2.25vw;
}

.homeInterior {
    max-width: 100%;
    height: auto;
}

.aboutMeBlurb {
    width: 100%;
}

.textHeader {
    max-width: 100%;
}

.headshots {
    max-width: 100%;
}

.homelinkphoto {
    max-width: 100%;
    height: auto;
}

.socials {
    padding: 1%;
}

.socialicons {
    width:50px;
    height: auto;
}

h2 {
    font-size: 1.5rem !important;
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h3 {
    font-size: .93rem !important;
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h4 {
    font-size: .75rem !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.guide_element {
    max-width: 100%;
}

.guide_photo {
    height: auto;
}

.logo {
    max-width: 30%;
    height: auto;
}

.manager_forms {
    flex-direction: column;
}

.form-group {
    width: 85%;
}
